#btn-login{
    width: 100px;
}

p    {color:white}

.err{
    box-shadow: 0 0 20px #FF0000 !important;
}

.errTitle{
    color:#FF0000 !important;
    font-weight: bold;
}

body.login{
    background: url("../img/large/lock.jpg") no-repeat fixed;
    background-size: cover;
    overflow: hidden;
}

.hover-panel{
    width: 100%;
    height: 100%;
    background: url('../img/large/lock.jpg') fixed no-repeat;
    background-size: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
}

.forgot-message{
    font: 12px Helvetica;
    text-align: center;
}

.nav-user .user{
    margin:0;
}

.btn-danger.logout{
    border-radius:50px;
    padding:5px 7px 5px 11px;
    box-shadow: none;
    margin-left:10px;
    border:none;
    background: rgba(80, 80, 80 ,1)
}
.btn-danger.logout:hover{
    border: none;
    background: rgba(50, 50, 50 ,1)
}